<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900&amp;family=Plus+Jakarta+Sans%3Awght%40400%3B500%3B700%3B800"
    />

    <title>Stitch Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div
      class="relative flex size-full min-h-screen flex-col bg-[#11221f] dark group/design-root overflow-x-hidden"
      style='font-family: "Plus Jakarta Sans", "Noto Sans", sans-serif;'
    >
      <div class="layout-container flex h-full grow flex-col">
        <div class="gap-1 px-6 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col w-80">
            <div class="flex h-full min-h-[700px] flex-col justify-between bg-[#11221f] p-4">
              <div class="flex flex-col gap-4">
                <div class="flex flex-col">
                  <h1 class="text-white text-base font-medium leading-normal">Account</h1>
                  <p class="text-[#92c8be] text-sm font-normal leading-normal">Charcoal Silk &amp; Emerald Noir Theme</p>
                </div>
                <div class="flex flex-col gap-2">
                  <div class="flex items-center gap-3 px-3 py-2">
                    <div class="text-white" data-icon="House" data-size="24px" data-weight="regular">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                          d="M218.83,103.77l-80-75.48a1.14,1.14,0,0,1-.11-.11,16,16,0,0,0-21.53,0l-.11.11L37.17,103.77A16,16,0,0,0,32,115.55V208a16,16,0,0,0,16,16H96a16,16,0,0,0,16-16V160h32v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V115.55A16,16,0,0,0,218.83,103.77ZM208,208H160V160a16,16,0,0,0-16-16H112a16,16,0,0,0-16,16v48H48V115.55l.11-.1L128,40l79.9,75.43.11.1Z"
                        ></path>
                      </svg>
                    </div>
                    <p class="text-white text-sm font-medium leading-normal">Overview</p>
                  </div>
                  <div class="flex items-center gap-3 px-3 py-2 rounded-xl bg-[#244740]">
                    <div class="text-white" data-icon="Package" data-size="24px" data-weight="fill">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                          d="M223.68,66.15,135.68,18a15.88,15.88,0,0,0-15.36,0l-88,48.17a16,16,0,0,0-8.32,14v95.64a16,16,0,0,0,8.32,14l88,48.17a15.88,15.88,0,0,0,15.36,0l88-48.17a16,16,0,0,0,8.32-14V80.18A16,16,0,0,0,223.68,66.15ZM128,32l80.35,44L178.57,92.29l-80.35-44Zm0,88L47.65,76,81.56,57.43l80.35,44Zm88,55.85h0l-80,43.79V133.83l32-17.51V152a8,8,0,0,0,16,0V107.56l32-17.51v85.76Z"
                        ></path>
                      </svg>
                    </div>
                    <p class="text-white text-sm font-medium leading-normal">Orders</p>
                  </div>
                  <div class="flex items-center gap-3 px-3 py-2">
                    <div class="text-white" data-icon="User" data-size="24px" data-weight="regular">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                          d="M230.92,212c-15.23-26.33-38.7-45.21-66.09-54.16a72,72,0,1,0-73.66,0C63.78,166.78,40.31,185.66,25.08,212a8,8,0,1,0,13.85,8c18.84-32.56,52.14-52,89.07-52s70.23,19.44,89.07,52a8,8,0,1,0,13.85-8ZM72,96a56,56,0,1,1,56,56A56.06,56.06,0,0,1,72,96Z"
                        ></path>
                      </svg>
                    </div>
                    <p class="text-white text-sm font-medium leading-normal">Personal Information</p>
                  </div>
                  <div class="flex items-center gap-3 px-3 py-2">
                    <div class="text-white" data-icon="CreditCard" data-size="24px" data-weight="regular">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                          d="M224,48H32A16,16,0,0,0,16,64V192a16,16,0,0,0,16,16H224a16,16,0,0,0,16-16V64A16,16,0,0,0,224,48Zm0,16V88H32V64Zm0,128H32V104H224v88Zm-16-24a8,8,0,0,1-8,8H168a8,8,0,0,1,0-16h32A8,8,0,0,1,208,168Zm-64,0a8,8,0,0,1-8,8H120a8,8,0,0,1,0-16h16A8,8,0,0,1,144,168Z"
                        ></path>
                      </svg>
                    </div>
                    <p class="text-white text-sm font-medium leading-normal">Payment Methods</p>
                  </div>
                  <div class="flex items-center gap-3 px-3 py-2">
                    <div class="text-white" data-icon="Lock" data-size="24px" data-weight="regular">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                          d="M208,80H176V56a48,48,0,0,0-96,0V80H48A16,16,0,0,0,32,96V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V96A16,16,0,0,0,208,80ZM96,56a32,32,0,0,1,64,0V80H96ZM208,208H48V96H208V208Zm-68-56a12,12,0,1,1-12-12A12,12,0,0,1,140,152Z"
                        ></path>
                      </svg>
                    </div>
                    <p class="text-white text-sm font-medium leading-normal">Password</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="flex flex-wrap justify-between gap-3 p-4"><p class="text-white tracking-light text-[32px] font-bold leading-tight min-w-72">Orders</p></div>
            <h3 class="text-white text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">Past Orders</h3>
            <div class="px-4 py-3 @container">
              <div class="flex overflow-hidden rounded-xl border border-[#33665c] bg-[#11221f]">
                <table class="flex-1">
                  <thead>
                    <tr class="bg-[#1a332e]">
                      <th class="table-1f7c0e7c-d40e-4428-be94-f16ccd654d07-column-120 px-4 py-3 text-left text-white w-[400px] text-sm font-medium leading-normal">Order</th>
                      <th class="table-1f7c0e7c-d40e-4428-be94-f16ccd654d07-column-240 px-4 py-3 text-left text-white w-[400px] text-sm font-medium leading-normal">Date</th>
                      <th class="table-1f7c0e7c-d40e-4428-be94-f16ccd654d07-column-360 px-4 py-3 text-left text-white w-[400px] text-sm font-medium leading-normal">Total</th>
                      <th class="table-1f7c0e7c-d40e-4428-be94-f16ccd654d07-column-480 px-4 py-3 text-left text-white w-60 text-sm font-medium leading-normal">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="border-t border-t-[#33665c]">
                      <td class="table-1f7c0e7c-d40e-4428-be94-f16ccd654d07-column-120 h-[72px] px-4 py-2 w-[400px] text-white text-sm font-normal leading-normal">#12345</td>
                      <td class="table-1f7c0e7c-d40e-4428-be94-f16ccd654d07-column-240 h-[72px] px-4 py-2 w-[400px] text-[#92c8be] text-sm font-normal leading-normal">
                        May 15, 2024
                      </td>
                      <td class="table-1f7c0e7c-d40e-4428-be94-f16ccd654d07-column-360 h-[72px] px-4 py-2 w-[400px] text-[#92c8be] text-sm font-normal leading-normal">$150.00</td>
                      <td class="table-1f7c0e7c-d40e-4428-be94-f16ccd654d07-column-480 h-[72px] px-4 py-2 w-60 text-sm font-normal leading-normal">
                        <button
                          class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-8 px-4 bg-[#244740] text-white text-sm font-medium leading-normal w-full"
                        >
                          <span class="truncate">Shipped</span>
                        </button>
                      </td>
                    </tr>
                    <tr class="border-t border-t-[#33665c]">
                      <td class="table-1f7c0e7c-d40e-4428-be94-f16ccd654d07-column-120 h-[72px] px-4 py-2 w-[400px] text-white text-sm font-normal leading-normal">#67890</td>
                      <td class="table-1f7c0e7c-d40e-4428-be94-f16ccd654d07-column-240 h-[72px] px-4 py-2 w-[400px] text-[#92c8be] text-sm font-normal leading-normal">
                        April 20, 2024
                      </td>
                      <td class="table-1f7c0e7c-d40e-4428-be94-f16ccd654d07-column-360 h-[72px] px-4 py-2 w-[400px] text-[#92c8be] text-sm font-normal leading-normal">$75.00</td>
                      <td class="table-1f7c0e7c-d40e-4428-be94-f16ccd654d07-column-480 h-[72px] px-4 py-2 w-60 text-sm font-normal leading-normal">
                        <button
                          class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-8 px-4 bg-[#244740] text-white text-sm font-medium leading-normal w-full"
                        >
                          <span class="truncate">Delivered</span>
                        </button>
                      </td>
                    </tr>
                    <tr class="border-t border-t-[#33665c]">
                      <td class="table-1f7c0e7c-d40e-4428-be94-f16ccd654d07-column-120 h-[72px] px-4 py-2 w-[400px] text-white text-sm font-normal leading-normal">#11223</td>
                      <td class="table-1f7c0e7c-d40e-4428-be94-f16ccd654d07-column-240 h-[72px] px-4 py-2 w-[400px] text-[#92c8be] text-sm font-normal leading-normal">
                        March 5, 2024
                      </td>
                      <td class="table-1f7c0e7c-d40e-4428-be94-f16ccd654d07-column-360 h-[72px] px-4 py-2 w-[400px] text-[#92c8be] text-sm font-normal leading-normal">$200.00</td>
                      <td class="table-1f7c0e7c-d40e-4428-be94-f16ccd654d07-column-480 h-[72px] px-4 py-2 w-60 text-sm font-normal leading-normal">
                        <button
                          class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-8 px-4 bg-[#244740] text-white text-sm font-medium leading-normal w-full"
                        >
                          <span class="truncate">Cancelled</span>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <style>
                          @container(max-width:120px){.table-1f7c0e7c-d40e-4428-be94-f16ccd654d07-column-120{display: none;}}
                @container(max-width:240px){.table-1f7c0e7c-d40e-4428-be94-f16ccd654d07-column-240{display: none;}}
                @container(max-width:360px){.table-1f7c0e7c-d40e-4428-be94-f16ccd654d07-column-360{display: none;}}
                @container(max-width:480px){.table-1f7c0e7c-d40e-4428-be94-f16ccd654d07-column-480{display: none;}}
              </style>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
